eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
    
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000

jwt:
  secret: my-very-long-super-secret-key-for-jwt-hmac-which-is-more-than-64-chars-1234567890
